/* @tailwind directives are processed by PostCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #a5b4fc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}